/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    float: none;
    margin: 0 auto;
}

.table {
    table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.md-autocomplete md-autocomplete-wrap.md-menu-showing {
    z-index: 1300;
}
