<div class="modal-body">
    <div class="row row-centered">
        <h3 class="m-t-none m-b">{{'modify' | translate}}</h3>
    </div>
    <div class="row">
        <div class="ibox-content">
            <div class="col-xs-2">
                <img alt="image" class="img-circle img-responsive circle-border m-b-md" src="http://agil.corp.local/agil/photoReader?path=/loc/giseh/j0384754.jpg">
            </div>

            <div class="col-xs-10">
                <div class="profile-info">
                    <div class="">
                        <div>
                            <h3 class="no-margins">
                                Alex Smith
                            </h3>
                            <h4>J0384754</h4>
                            <ui-select id="groupSelected"
                                       ng-model=""
                                       theme="select2"
                                       reset-search-input="'false'"
                                       ng-disabled="disabled"
                                       style="width: 100%;">
                                <ui-select-match placeholder="{{'choose_team' | translate}}">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="list in factorListService.getLists() | propsFilter: {name: $select.search}">
                                    <div ng-bind-html="list.name | highlight: $select.search | unsafe"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="ibox-content">
            <h3>{{'roles' | translate}}</h3>
            <label class="radio-inline">
                <input icheck type="radio" name="radioTest" ng-model="main.checkFour"><span class="badge badge-warning">Admin</span>
            </label>
            <label class="radio-inline">
                <input icheck type="radio" name="radioTest" ng-model="main.check8"><span class="badge badge-success">User</span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="ibox-content">
            <h3>{{'authorized_projects' | translate}}</h3>

            <div class="table-responsive" style="overflow-y:scroll;height:200px">
                <table class="table table-striped" >
                    <tbody>
                    <tr>
                        <td style="width:40px;"><input  type="checkbox" ng-model="main.checkOne"></td>
                        <td>Project
                            <small>This is example of project</small>
                        </td>
                    </tr>
                    <tr>
                        <td><input  type="checkbox" ng-model="main.unCheck1"></td>
                        <td>Alpha project</td>
                    </tr>
                    <tr>
                        <td><input  type="checkbox" ng-model="main.unCheck2"></td>
                        <td>Betha project</td>
                    </tr>
                    <tr>
                        <td><input  type="checkbox" ng-model="main.unCheck3"></td>
                        <td>Gamma project</td>
                    </tr>
                    <tr>
                        <td><input  type="checkbox" ng-model="main.unCheck3"></td>
                        <td>Gamma project</td>
                    </tr>
                    <tr>
                        <td><input  type="checkbox" ng-model="main.unCheck3"></td>
                        <td>Gamma project</td>
                    </tr>
                    <tr>
                        <td><input  type="checkbox" ng-model="main.unCheck3"></td>
                        <td>Gamma project</td>
                    </tr>
                    <tr>
                        <td><input  type="checkbox" ng-model="main.unCheck3"></td>
                        <td>Gamma project</td>
                    </tr>
                    <tr>
                        <td><input  type="checkbox" ng-model="main.unCheck3"></td>
                        <td>Gamma project</td>
                    </tr>
                    <tr>
                        <td><input  type="checkbox" ng-model="main.unCheck3"></td>
                        <td>Gamma project</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="row row-centered">
        <div class="ibox-content">
            <button type="button" class="btn btn-sm btn-danger">{{'save' | translate}}</button>
        </div>
    </div>
</div>
