<div class="modal-body modal-md">
    <div class="row row-centered">
        <h2 class="m-t-none m-b"><i class="fa fa-user"></i> {{'rediger_avis' | translate}}</h2>
    </div>
    <div class="row">
        <p class="ibox-content">

        <div class="row" >
            <div class="col-lg-8">

                <p>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>{{'prenom' | translate}}</label>
                        <input ng-model="note.firstname">
                    </md-input-container>
                </p>

                <p>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>{{'nom' | translate}}</label>
                        <input ng-model="note.lastname">
                    </md-input-container>
                </p>

                <p>
                    <md-autocomplete ng-disabled="false"
                                     md-selected-item="town.selected"
                                     md-search-text="searchText"
                                     md-search-text-change="searchTextChange(searchText)"
                                     md-selected-item-change="selectedItemChange(item)"
                                     md-items="item in querySearch(searchText)"
                                     md-item-text="item.town"
                                     md-min-length="0"
                                     placeholder="{{'code_postal' | translate}}">
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.postal_code}} - {{item.town}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching were found.
                        </md-not-found>
                    </md-autocomplete>
                </p>

                <div class="row row-centered">
                    <div class="col-sm-6">
                        <md-datepicker ng-model="note.date_start" md-placeholder="{{'entree' | translate}}">
                        </md-datepicker>
                    </div>

                    <div class="col-sm-6">
                        <md-datepicker ng-model="note.date_end" md-placeholder="{{'sortie' | translate}}">
                        </md-datepicker>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 row-centered">
                <div ng-if="moyenne < 34">
                    <knob knob-data="moyenne.general" class="m-r-sm" data-fgColor="#ED5565" data-width="100" data-height="100" data-angleOffset=-125 data-angleArc=250 data-readOnly="true" knob-options=""></knob>
                </div>
                <div ng-if="moyenne >= 34">
                    <div ng-if="moyenne < 66">
                        <knob knob-data="moyenne.general" class="m-r-sm" data-fgColor="#f8ac59" data-width="100" data-height="100" data-angleOffset=-125 data-angleArc=250 data-readOnly="true" knob-options=""></knob>
                    </div>
                </div>
                <div ng-if="moyenne >= 66">
                    <knob knob-data="moyenne.general" class="m-r-sm" data-fgColor="#1ab394" data-width="100" data-height="100" data-angleOffset=-125 data-angleArc=250 data-readOnly="true" knob-options=""></knob>
                </div>
            </div>
        </div>
        </p>

        <div class="hr-line-dashed"></div>

        <div class="row">
            <div class="col-lg-8">
                <h4>{{'capacite_short' | translate}}</h4>
            </div>
            <div class="col-lg-4">
                <input-stars max="5" ng-model="note.capacity"></input-stars>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <h4>{{'attitude_long' | translate}}</h4>
            </div>
            <div class="col-lg-4">
                <input-stars max="5" ng-model="note.attitude"></input-stars>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <h4>{{'degradation_long' | translate}}</h4>
            </div>
            <div class="col-lg-4">
                <input-stars max="5" ng-model="note.degradation"></input-stars>
            </div>
        </div>

    </div>

    <div class="row row-centered">
        <div class="ibox-content">
            <button type="button" ng-click="ok()"  class="btn btn-sm btn-danger">{{'sauver' | translate}}</button>
            <button type="button" ng-click="cancel()"  class="btn btn-sm btn-default">{{'cancel' | translate}}</button>
        </div>
    </div>
</div>
