<div class="modal-body">
    <div class="row row-centered">
        <h3 class="m-t-none m-b"><i class="fa fa-cube"></i> {{'modify' | translate}}</h3>
    </div>
    <div class="row">
        <div class="ibox-content">
            <input type="text" placeholder="{{'project_name' | translate}}" value="CIG" class="input-sm form-control">
        </div>
    </div>

    <div class="row">
        <div class="ibox-content">
            <h3>{{'authorized_users' | translate}}</h3>

            <div class="table-responsive" style="overflow-y:scroll;height:200px">
                <table class="table table-striped" >
                    <tbody>
                    <tr>
                        <td style="width:40px;"><input type="checkbox" ng-model="main.checkOne"></td>
                        <td>Sebastien THOMAS</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" ng-model="main.unCheck1"></td>
                        <td>Nicolas ORBAN</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="row row-centered">
        <div class="ibox-content">
            <button type="button" class="btn btn-sm btn-danger">{{'save' | translate}}</button>
        </div>
    </div>
</div>
