<div>
    <div>
        <div class="row">
            <div class="col-lg-8">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2>Mr Julien CAPGRAS <small>propriétaire d'un logement sur Toulouse <span class="badge badge-danger">64121</span></small></h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2> <small>indique que ce locataire a passé du 01/01/2015 au 01/03/2015 dans son logment</small></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            Avez vous été satisafait de votre locataire ?
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            Vous a t il saccagé votre bien ?
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            A t il payé son loyer ?
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 row-centered">
                                    <knob knob-data="main.knobTwo" class="m-r-sm" data-fgColor="#ED5565" data-width="100" data-height="100" data-angleOffset=-125 data-angleArc=250 knob-options=""></knob>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row row-centered">
                                <h1>Sébastien THOMAS</h1>
                                <knob knob-data="main.knobTwo" class="m-r-sm" data-fgColor="#ED5565" data-width="100" data-height="100" data-angleOffset=-125 data-angleArc=250 knob-options=""></knob>
                                <p>Satisfaction globale ? <input-stars max="5" ng-model="YourCtrl.property"></input-stars></p>
                                <p>Saccagé ? <input-stars max="5" ng-model="YourCtrl.property"></input-stars></p>
                                <p>Loyer régulier ? <input-stars max="5" ng-model="YourCtrl.property"></input-stars></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2>Mr Julien CAPGRAS <small>propriétaire d'un logement sur Toulouse <span class="badge badge-danger">64121</span></small></h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2> <small>indique que ce locataire a passé du 01/01/2015 au 01/03/2015 dans son logment</small></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            Avez vous été satisafait de votre locataire ?
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            Vous a t il saccagé votre bien ?
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            A t il payé son loyer ?
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 row-centered">
                                    <knob knob-data="main.knobTwo" class="m-r-sm" data-fgColor="#ED5565" data-width="100" data-height="100" data-angleOffset=-125 data-angleArc=250 knob-options=""></knob>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2>Mr Julien CAPGRAS <small>propriétaire d'un logement sur Toulouse <span class="badge badge-danger">64121</span></small></h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2> <small>indique que ce locataire a passé du 01/01/2015 au 01/03/2015 dans son logment</small></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            Avez vous été satisafait de votre locataire ?
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            Vous a t il saccagé votre bien ?
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            A t il payé son loyer ?
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 row-centered">
                                    <knob knob-data="main.knobTwo" class="m-r-sm" data-fgColor="#ED5565" data-width="100" data-height="100" data-angleOffset=-125 data-angleArc=250 knob-options=""></knob>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
