<div class="row wrapper border-bottom red-bg page-heading" ng-controller="tenantCtrl as ctrl">
    <div class="col-lg-10">
        <h1><i class="fa fa-user"/> {{'fiche' | translate}} <strong>Julien CAPGRAS</strong></h1>
    </div>
</div>
<div class="container">
    <div>
        <div class="row">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2><strong>{{'appreciation' | translate}}</strong></h2>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h3>{{'capacite_short' | translate}}</h3>
                                    </div>
                                    <div class="col-lg-4">
                                        <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <h3>{{'attitude_short' | translate}}</h3>
                                    </div>
                                    <div class="col-lg-4">
                                        <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <h3>{{'degradation_short' | translate}}</h3>
                                    </div>
                                    <div class="col-lg-4">
                                        <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 row-centered">
                                <knob knob-data="main.knobTwo" class="m-r-sm" data-fgColor="#ED5565" data-width="100" data-height="100" data-angleOffset=-125 data-angleArc=250 knob-options=""></knob>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>


                        <div class="row">
                            <div class="col-lg-12">
                                <h2><strong>{{'list_avis' | translate}}</strong></h2>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2><small>{{'phrase_avis_1' | translate}}<strong>Toulouse</strong> (64121) {{'phrase_avis_2' | translate}}Sébastien THOMAS{{'phrase_avis_3' | translate}}<strong>01/01/2015</strong>{{'phrase_avis_4' | translate}}<strong>01/03/2015</strong>.</small></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            {{'capacite_long' | translate}}
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            {{'attitude_long' | translate}}
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            {{'degradation_long' | translate}}
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 row-centered">
                                    <knob knob-data="main.knobTwo" class="m-r-sm" data-fgColor="#ED5565" data-width="100" data-height="100" data-angleOffset=-125 data-angleArc=250 knob-options=""></knob>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2><small>{{'phrase_avis_1' | translate}}<strong>Toulouse</strong> (64121) {{'phrase_avis_2' | translate}}Sébastien THOMAS{{'phrase_avis_3' | translate}}<strong>01/01/2015</strong>{{'phrase_avis_4' | translate}}<strong>01/03/2015</strong>.</small></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            {{'capacite_long' | translate}}
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            {{'attitude_long' | translate}}
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            {{'degradation_long' | translate}}
                                        </div>
                                        <div class="col-lg-4">
                                            <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 row-centered">
                                    <knob knob-data="main.knobTwo" class="m-r-sm" data-fgColor="#ED5565" data-width="100" data-height="100" data-angleOffset=-125 data-angleArc=250 knob-options=""></knob>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
