<div ng-controller="ControlsButtonCtrl as controller" class="col-lg-6" style="padding-top: 30px">
    <button type="button" ui-sref="index.cig" style="width:49px" class="btn btn-lg btn-white"><i class="fa fa-cube"></i></button>
    <button type="button" style="width:49px" class="btn btn-lg btn-white" ng-click="createDeliverable()"><i class="fa fa-files-o"></i></button>
    <button type="button" style="width:49px" class="btn btn-lg btn-white" ng-click="createContract()"><i class="fa fa-file-text-o"></i></button>
    <!--<button type="button" style="width:49px" class="btn btn-lg btn-white" ng-click="createAccount()"><i class="fa fa-table"></i></button>-->
    <button type="button" style="width:49px" class="btn btn-lg btn-white" ui-sref="index.cig_progress"><i class="fa fa-tasks"></i></button>
    <button type="button" style="width:49px" class="btn btn-lg btn-white" ng-click="manageTags()"><i class="fa fa-line-chart"></i></button>
    <button type="button" style="width:49px" class="btn btn-lg btn-white" ng-click="manageTags()"><i class="fa fa-flag"></i></button>
    <button type="button" style="width:49px" class="btn btn-lg btn-white" ng-click="manageTags()"><i class="fa fa-child"></i></button>
    <button type="button" style="width:49px" class="btn btn-lg btn-white" ng-click="manageTags()"><i class="fa fa-cog"></i></button>
</div>