<div class="modal-body modal-lg">
    <div class="row row-centered">
        <h3 class="m-t-none m-b"><i class="fa fa-file-text-o"></i> {{'create_contract' | translate}}</h3>
    </div>
    <div class="row">
        <div class="ibox-content">

            <div class="tabs-container">

                <tabset class="tabs-left">
                    <tab>
                        <tab-heading>
                            <i class="fa fa-info-circle"></i> {{'contract_info' | translate}}
                        </tab-heading>
                        <div class="panel-body">
                            <h4>{{'volet' | translate}}</h4>
                            <p class="row-centered">
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.checkFour"><span class="badge badge-warning">{{'socle' | translate}}</span>
                                </label>
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.check8"><span class="badge badge-success">{{'i3g' | translate}}</span>
                                </label>
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.checkFour"><span class="badge badge-default">{{'geomod' | translate}}</span>
                                </label>
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.check8"><span class="badge badge-danger">{{'reservoir' | translate}}</span>
                                </label>
                            </p>
                            <h4>{{'action' | translate}}</h4>
                            <p class="row-centered">
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.checkFour"><span class="badge badge-warning">Boucle de retour</span>
                                </label>
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.check8"><span class="badge badge-success">Data Analysis</span>
                                </label>
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.checkFour"><span class="badge badge-default">Grille</span>
                                </label>
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.check8"><span class="badge" style="background-color:#000000;color:#FFFFFF">Remplissage</span>
                                </label>
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.check8"><span class="badge" style="background-color:#000000;color:#FFFFFF">Remplissage</span>
                                </label>
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.check8"><span class="badge" style="background-color:#000000;color:#FFFFFF">Remplissage</span>
                                </label>
                            </p>
                            <p>
                                <ui-select id="groupSelected"
                                           ng-model=""
                                           theme="select2"
                                           reset-search-input="'false'"
                                           ng-disabled="disabled"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="{{'deliverable' | translate}}">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="list in factorListService.getLists() | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="list.name | highlight: $select.search | unsafe"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </p>
                            <p>
                                <input type="text" placeholder="{{'contract_name' | translate}}" class="input-sm form-control">
                            </p>

                            <p class="row-centered">
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.checkFour"><i class="fa fa-star-o" style="color:#D7DF01"></i> Faible interet metier
                                </label>
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.check8"><i class="fa fa-star-half-empty" style="color:#D7DF01"></i> Moyen
                                </label>
                                <label class="radio-inline">
                                    <input icheck type="radio" name="radioTest" ng-model="main.checkFour"><i class="fa fa-star" style="color:#D7DF01"></i> Fort interet metier
                                </label>
                            </p>
                            <p>
                                <ui-select id="groupSelected"
                                           ng-model=""
                                           theme="select2"
                                           reset-search-input="'false'"
                                           ng-disabled="disabled"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="{{'contract_cpsi' | translate}}">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="list in factorListService.getLists() | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="list.name | highlight: $select.search | unsafe"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </p>
                            <p>
                                <ui-select id="groupSelected"
                                           ng-model=""
                                           theme="select2"
                                           reset-search-input="'false'"
                                           ng-disabled="disabled"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="{{'contract_cpm' | translate}}">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="list in factorListService.getLists() | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="list.name | highlight: $select.search | unsafe"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </p>
                            <p>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </p>
                        </div>
                    </tab>

                    <tab>
                        <tab-heading>
                            <i class="fa fa-legal"></i> {{'contract_contract' | translate}}
                        </tab-heading>
                        <div class="panel-body">
                            <p>
                                <ui-select id="groupSelected"
                                           ng-model=""
                                           theme="select2"
                                           reset-search-input="'false'"
                                           ng-disabled="disabled"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="{{'contract_contractor' | translate}}">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="list in factorListService.getLists() | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="list.name | highlight: $select.search | unsafe"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </p>
                            <p>

                            </p>
                            <p>
                            <div class="col-lg-4">
                                {{'contract_start_date' | translate}}
                            </div>
                            <div class="col-lg-4">
                                {{'contract_end_date' | translate}}
                            </div>
                            <div class="col-lg-4">
                                {{'contract_end_warranty' | translate}}
                            </div>
                            <div class="col-lg-4">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                                </p>
                            </div>
                            </p>
                            <p>
                                <input type="text" placeholder="{{'contract_nb_uo' | translate}}" class="input-sm form-control">
                            </p>
                            <p>
                                <input type="text" placeholder="{{'contract_tjm' | translate}}" class="input-sm form-control">
                            </p>
                            <p>
                            <form id="my-awesome-dropzone" class="dropzone dz-clickable" action="#">
                                <div class="dropzone-previews"></div>
                                <button style="align:center" type="button" class="btn btn-sm btn-success pull-right">{{'contract_props' | translate}}</button>
                                <div class="dz-default dz-message"><span>Drop files here to upload</span></div></form>
                            </p>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class="fa fa-cog"></i> {{'contract_sap' | translate}}
                        </tab-heading>
                        <div class="panel-body">
                            <p>
                                <input type="text" placeholder="{{'contract_da' | translate}}" class="input-sm form-control">
                            </p>
                            <p>
                                <input type="text" placeholder="{{'contract_dsct' | translate}}" class="input-sm form-control">
                            </p>
                            <p>
                                <input type="text" placeholder="{{'contract_asc' | translate}}" class="input-sm form-control">
                            </p>
                            <p>
                                <input type="text" placeholder="{{'contract_cmd' | translate}}" class="input-sm form-control">
                            </p>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class="fa fa-money"></i> {{'contract_budget_line' | translate}}
                        </tab-heading>
                        <div class="panel-body">
                            <p>
                                <ui-select id="groupSelected"
                                           ng-model=""
                                           theme="select2"
                                           reset-search-input="'false'"
                                           ng-disabled="disabled"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="{{'contract_budget_year' | translate}}">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="list in factorListService.getLists() | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="list.name | highlight: $select.search | unsafe"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </p>

                            <p>
                                <ui-select id="groupSelected"
                                           ng-model=""
                                           theme="select2"
                                           reset-search-input="'false'"
                                           ng-disabled="disabled"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="{{'contract_budget_account' | translate}}">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="list in factorListService.getLists() | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="list.name | highlight: $select.search | unsafe"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </p>

                            <div class="row-centered">
                                <div class="col-lg-4">
                                    <p>
                                        <input type="text" placeholder="{{'contract_budget_prev' | translate}}" class="input-sm form-control">
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <p>
                                        <input type="text" placeholder="{{'contract_budget_mob' | translate}}" class="input-sm form-control">
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <p>
                                        <input type="text" placeholder="{{'contract_budget_engage' | translate}}" class="input-sm form-control">
                                    </p>
                                </div>
                            </div>
                            <div class="row-centered">
                                <div class="col-lg-3">
                                    <p>
                                        <input type="text" placeholder="{{'contract_budget_pdc2' | translate}}" class="input-sm form-control">
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <p>
                                        <input type="text" placeholder="{{'contract_budget_pdc5' | translate}}" class="input-sm form-control">
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <p>
                                        <input type="text" placeholder="{{'contract_budget_pdc9' | translate}}" class="input-sm form-control">
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <p>
                                        <input type="text" placeholder="{{'contract_budget_pdc' | translate}}" class="input-sm form-control">
                                    </p>
                                </div>
                            </div>
                            <div class="row-centered">
                                <p>
                                    <button type="button" class="btn btn-sm btn-success">{{'add' | translate}}</button>
                                </p>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4>
                                            2015 - 35TGEOCIGIP
                                        </h4>
                                        <p>
                                            <strong>Previsionnel</strong> : 1 223 333 /
                                            <strong>Mobilise</strong> : 1 223 333 /
                                            <strong>Engage</strong> : 1 223 333
                                        </p>
                                        <p>
                                            <strong>PDC 2</strong> : 1 223 333 /
                                            <strong>PDC 5</strong> : 1 223 333 /
                                            <strong>PDC 9</strong> : 1 223 333 /
                                            <strong>Cloture</strong> : 1 223 333
                                        </p>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-sm btn-danger" style="width:37px"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4>
                                            2015 - 35TGEOCIGIP
                                        </h4>
                                        <p>
                                            <strong>Previsionnel</strong> : 1 223 333 /
                                            <strong>Mobilise</strong> : 1 223 333 /
                                            <strong>Engage</strong> : 1 223 333
                                        </p>
                                        <p>
                                            <strong>PDC 2</strong> : 1 223 333 /
                                            <strong>PDC 5</strong> : 1 223 333 /
                                            <strong>PDC 9</strong> : 1 223 333 /
                                            <strong>Cloture</strong> : 1 223 333
                                        </p>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-sm btn-danger" style="width:37px"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class="fa fa-calculator"></i> {{'contract_facture' | translate}}
                        </tab-heading>
                        <div class="panel-body">
                            <p class="input-group">

                                <input type="text" placeholder="{{'contract_facture_prev' | translate}}" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                            </p>

                            <p>
                                <input type="text" placeholder="{{'contract_facture_montant' | translate}}" class="input-sm form-control">
                            </p>
                            <p>
                                <input type="text" placeholder="{{'contract_facture_comment' | translate}}" class="input-sm form-control">
                            </p>
                            <div class="row-centered">
                                <p>
                                    <button type="button" class="btn btn-sm btn-success">{{'add' | translate}}</button>
                                </p>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4>
                                            01/01/2015 - 15 000
                                        </h4>
                                        <p>
                                            <strong>Commentaires</strong> : 25% Demarrage prestation
                                        </p>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-sm btn-danger" style="width:37px"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <h4>
                                            01/01/2015 - 15 000
                                        </h4>
                                        <p>
                                            <strong>Commentaires</strong> : 75% Fin prestation
                                        </p>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-sm btn-danger" style="width:37px"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>


        </div>
    </div>

    <div class="row row-centered">
        <div class="ibox-content">
            <button type="button" class="btn btn-sm btn-danger">{{'save' | translate}}</button>
        </div>
    </div>
</div>
