<div ng-controller="LoginCtrl as controller">
    <div>
        <div class="row text-right" style="padding-top: 5px">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <input class="form-control" ng-model="credentials.mail" placeholder="{{'mail' | translate}}">
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="credentials.password" type="password" placeholder="{{'password' | translate}}">
                </div>
                <button ng-click="login()"  class="btn btn-warning" type="button"><i class="fa fa-sign-in"></i> Login</i></button>
                <button ng-click="password()"  class="btn btn-white btn-sm" type="button"><i class="fa fa-key"></i> Password oublié</button>
            </form>
        </div>
        <div class="row">
            <nav class="navbar navbar-static-top" role="navigation" style="padding-bottom: 5px;padding-top: 5px">
                <ul class="nav navbar-top-links navbar-right">
                    <li >
                        {{failMessage}}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section id="description" class="container services">
        <div class="row row-centered">
            <div>
                <h2 class="logo-name text-immo">Events</h2>
                <h3><i class="fa fa-smile-o text-immo"></i> Gestion des évènements</h3>
            </div>
        </div>

        <div class="row row-centered">
            <button ng-click="register()"  class="btn btn-warning btn-lg" type="button">S'enregistrer</i>
            </button>
        </div>

        </button>
        <div class="navy-line"></div>
        <div class="row">
            <div class="col-sm-12">
                <h2><span class="warning" style="font-weight: bold;">Gérez sereinement vos évènements.</span></h2>
            </div>
        </div>
    </section>
    <div class="navy-line"></div>
    <section id="features" class="container services">
        <div class="row">
            <div class="col-sm-4 text-justify">
                <h2 class="text-danger"><i class="fa fa-warning"></i> Le problème</h2>
            </div>
            <div class="col-sm-4 text-justify">
                <h2 class="text-success"><i class="fa fa-lightbulb-o"></i> La solution</h2>
            </div>
            <div class="col-sm-4 text-justify">
                <h2 class="text-navy"><i class="fa fa-sign-in"></i> La mise en pratique</h2>
            </div>
        </div>
    </section>

    <section class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Faites dès maintenant le choix<br/> <span class="warning" style="font-weight: bold;"> d'avoir les meilleurs évènements !</span> </h1>
                <p>Reprenez le contrôle de vos évènements. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-pencil features-icon"></i>
                    <h2>Une évaluation réelle</h2>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-eur features-icon"></i>
                    <h2>Service gratuit</h2>
                    <p class="text-justify">Le site est centré sur l'agglomération et repose sur un modèle <strong>TOTALEMENT gratuit</strong> sans frais cachés.</p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <p></p>
                <p></p>
                <p></p>
                <!--<img src="../res/images/avis_locataire_preview.png" alt="dashboard">-->
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-desktop features-icon"></i>
                    <h2>Agréable à utiliser</h2>
                    <p class="text-justify"><strong>Une interface épurée, visuelle et agréable à lire.</strong> Seulement trois écrans pour l'ensemble du processus :</p>
                    <div class="text-left">
                    </div>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-eye-slash features-icon"></i>
                    <h2>Respect de la vie privée</h2>
                    <p class="text-justify"><strong>AUCUNE donnée confidentielle n'est demandée.</strong></p>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="gray-section team">
        <div class="container">
            <div class="row">
                <div class="navy-line"></div>
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <h1><i class="fa fa-user features-icon"></i> Qui sommes nous ?</h1>
                    <div class="text-justify">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="privacy" class="gray-section team">
        <div class="container">
            <div class="row">
                <div class="navy-line"></div>
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <h1><i class="fa fa-eye-slash features-icon"></i> Confidentialité & Vie privée</h1>
                    <div class="text-justify">
                        <p>Connaissant le domaine des nouvelles technologies ou encore ce qu'on peut appeler les "concepts Silicon Valley", nous attachons <span class="text-immo"><strong>une attention particulière à la confidentialité et à la protection des données personnelles</strong></span>.</p>
                        <p>Nous avons conçu ce service de manière à demander le minimum d'informations nécessaires :</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="timeline gray-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1><i class="fa fa-flask features-icon"></i> Le processus</h1>
                    <p>Trois phrases pour décrire les trois phases d'un processus extrêmement simple</p>
                </div>
            </div>
            <div class="row features-block">

                <div class="col-lg-12">
                    <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon immo-bg">
                                <i class="fa fa-pencil"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Saisie</h2>
                                <p>Rédaction des évènements.</p>
                                <span class="vertical-date"> Aujourd'hui <br/></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon immo-bg">
                                <i class="fa fa-book"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Choix des évènements</h2>
                                <p>Consultation des évènements rédigés.</p>
                                <span class="vertical-date"> Prochain évènement <br/></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon immo-bg">
                                <i class="fa fa-eur"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Evènement tranquille</h2>
                                <p>Le choix d'un meilleur évènement...</p>
                                <span class="vertical-date"> Très long-terme <br/></span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>

    <section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <i class="fa fa-comment big-icon"></i>
                    <h1>Ce que les utilisateurs en pensent</h1>
                    <div class="testimonials-text">
                        <i>"Ce site est la solution qui me permet de gérer mes évènements !"</i>
                    </div>
                    <small>
                        <strong>23 février 2016 - Michelle Dupont</strong>
                    </small>
                </div>
            </div>
        </div>

    </section>

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1><i class="fa fa-envelope-o features-icon"></i> Nous contacter</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:test@email.com" class="btn btn-immo">Envoyez-nous un courriel</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2016 Events management</strong><br/></p>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
    $(document).ready(function () {
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>