<div ng-controller="LoginCtrl as controller">
    <div>
        <div class="row text-right" style="padding-top: 5px">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <input class="form-control" ng-model="credentials.mail" placeholder="{{'mail' | translate}}">
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="credentials.password" type="password" placeholder="{{'password' | translate}}">
                </div>
                <button ng-click="login()"  class="btn btn-warning" type="button"><i class="fa fa-sign-in"></i> Login</i></button>
                <button ng-click="password()"  class="btn btn-white btn-sm" type="button"><i class="fa fa-key"></i> Password oublié</button>
            </form>
        </div>
        <div class="row">
            <nav class="navbar navbar-static-top" role="navigation" style="padding-bottom: 5px;padding-top: 5px">
                <ul class="nav navbar-top-links navbar-right">
                    <li >
                        {{failMessage}}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section id="description" class="container services">
        <div class="row row-centered">
            <div>
                <h2 class="logo-name text-immo">ImmoTrankil</h2>
                <h3><i class="fa fa-smile-o text-immo"></i> Fini les tracasseries avec les locataires indélicats et qui ne payent pas ou en retard !</h3>
            </div>
        </div>

        <div class="row row-centered">
            <button ng-click="register()"  class="btn btn-warning btn-lg" type="button">S'enregistrer</i>
            </button>
        </div>

        </button>
        <div class="navy-line"></div>
        <div class="row">
            <div class="col-sm-12">
                <h2><span class="warning" style="font-weight: bold;">Propriétaires de l'agglomération paloise, sélectionnez vos futurs locataires en notant dès maintenant vos locataires précédents.</span></h2>
                <p class="text-justify">Nous faisons un pari sur l’avenir en partant du principe qu’une masse critique d’avis rédigés par les propriétaires inciterait fortement les locataires à améliorer leur comportement.
                    Contrairement au <strong class="text-danger">nivellement par le bas</strong>, concept cher au pouvoir en place,
                    il s’agit de <strong class="text-immo">tirer par le haut l’écosystème locatif</strong>. C’est là l’occasion pour vous d’intervenir en tant qu’acteur propriétaire et de défendre vos intérêts.</p>
            </div>
        </div>
    </section>
    <div class="navy-line"></div>
    <section id="features" class="container services">
        <div class="row">
            <div class="col-sm-4 text-justify">
                <h2 class="text-danger"><i class="fa fa-warning"></i> Le problème</h2>
                <p>Pour peu que vous ayez de l’expérience dans la gestion locative, vous avez du vous apercevoir que les multiples étapes mises en place pour filtrer les locataires : fiches d’imposition, bulletins de paie, caution, quittances précédentes, etc. ne sont pas la solution pour trouver LE locataire, celui qui restera longtemps, ne vous sollicitera jamais, paiera toujours en temps et en heure et rendra le bien en meilleur état qu’à son arrivée !</p>
                <p><strong>Ces étapes en plus d’induire une lourdeur de traitement non négligeable ne garantissent nullement la qualité du locataire.</strong> Vous pouvez très bien avoir un locataire ayant des revenus conséquents mais qui vous sollicitera intempestivement ou sera trop exigeant.</p>
            </div>
            <div class="col-sm-4 text-justify">
                <h2 class="text-success"><i class="fa fa-lightbulb-o"></i> La solution</h2>
                <p>Au final, rien ne compte plus que le ressenti des propriétaires par lesquels votre futur locataire est passé. <strong>C’est là qu’intervient ImmoTrankil en attribuant une note à chaque profil de locataire.</strong> Cette note est basée sur les évaluations rédigées par les propriétaires précédents.</p>
                <p>Ces évaluations sont ensuite consolidées de manière à fournir une « fiche locataire » comprenant les notes moyennes de ces trois critères ainsi que l’historique des avis. Rien de plus simple par la suite pour se faire son idée sur son futur locataire !</p>
            </div>
            <div class="col-sm-4 text-justify">
                <h2 class="text-navy"><i class="fa fa-sign-in"></i> La mise en pratique</h2>
                <p>Le concept est très simple, en prenant 5 minutes pour noter vos précédents locataires, vous participez à la <strong>mise en place d’une base de données permettant de consolider les avis des propriétaires sur les locataires de l’agglomération paloise</strong>.</p>
                <p>La rédaction de ces avis ne prend qu’une poignée de secondes, il s’agit simplement d’attribuer une note de 0 à 5 sur les trois critères suivants :</p>
                <li>Capacité du locataire à payer les loyers en temps et en heure.</li>
                <li>Attitude du locataire durant la location : sollicitations intempestives, etc.</li>
                <li>Etat des lieux de sortie du bien loué : dégradations, propreté, etc.</li>
            </div>
        </div>
    </section>

    <section class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Faites dès maintenant le choix<br/> <span class="warning" style="font-weight: bold;"> d'avoir les meilleurs locataires !</span> </h1>
                <p>Reprenez le contrôle de votre investissement. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-pencil features-icon"></i>
                    <h2>Une évaluation réelle</h2>
                    <p class="text-justify"><strong>Trois critères précis</strong> notés de 0 à 5 pour obtenir une vision d’ensemble de la location :</p>
                    <div  class="text-left">
                        <p><i class="fa fa-check"></i> Capacité financière</p>
                        <p><i class="fa fa-check"></i> Attitude</p>
                        <p><i class="fa fa-check"></i> Dégradation</p>
                    </div>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-eur features-icon"></i>
                    <h2>Service gratuit</h2>
                    <p class="text-justify">Le site est centré sur l'agglomération paloise et repose sur un modèle <strong>TOTALEMENT gratuit</strong> sans frais cachés.</p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <p></p>
                <p></p>
                <p></p>
                <img src="../res/images/avis_locataire_1_resize2.png" alt="dashboard">
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-desktop features-icon"></i>
                    <h2>Agréable à utiliser</h2>
                    <p class="text-justify"><strong>Une interface épurée, visuelle et agréable à lire.</strong> Seulement trois écrans pour l'ensemble du processus :</p>
                    <div class="text-left">
                        <li>Page propriétaire</li>
                        <li>Page locataire</li>
                        <li>Saisie d'un nouvel avis</li>
                    </div>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-eye-slash features-icon"></i>
                    <h2>Respect de la vie privée</h2>
                    <p class="text-justify">Excepté le prénom et nom des locataires, <strong>AUCUNE donnée confidentielle n'est demandée</strong>. Les évaluations ne reposent que sur trois critères portant sur la location.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="gray-section team">
        <div class="container">
            <div class="row">
                <div class="navy-line"></div>
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <h1><i class="fa fa-user features-icon"></i> Qui sommes nous ?</h1>
                    <div class="text-justify">
                        <p>L’équipe à l’origine du site est constituée de deux propriétaires bailleurs. <strong>Ce service est le fruit d'une réflexion personnelle</strong> suite à de mauvaises expériences locatives.
                            Nous nous sommes inspirés des démarches "disruptives" de la Silicon Valley afin d'essayer de faire bouger les lignes de l'immobilier locatif.</p>
                        <p>Ce marché est sclérosé, inerte et n'a pas du tout évolué avec son époque. Par le biais de ce service, nous avons avant tout <span class="text-immo"><strong>la volonté de rendre une partie de la maîtrise de son bien à l'investisseur</strong></span> en lui permettant d'avoir de la transparence sur ses choix et de mutualiser ses appréciations locatives avec les autres propriétaires.</p>
                        <p>Il s'agit donc d'une démarche qui répond à un besoin personnel et c'est pour cette raison que nous avons fait <strong>le choix de la gratuité totale et de la transparence</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="privacy" class="gray-section team">
        <div class="container">
            <div class="row">
                <div class="navy-line"></div>
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <h1><i class="fa fa-eye-slash features-icon"></i> Confidentialité & Vie privée</h1>
                    <div class="text-justify">
                        <p>Connaissant le domaine des nouvelles technologies ou encore ce qu'on peut appeler les "concepts Silicon Valley", nous attachons <span class="text-immo"><strong>une attention particulière à la confidentialité et à la protection des données personnelles</strong></span>.</p>
                        <p>Nous avons conçu ce service de manière à demander le minimum d'informations nécessaires :</p>
                        <p>
                        <li>propriétaire : prénom, nom, adresse électronique et attestation.</li>
                        <li>locataire : prénom, nom et code postal de la location.</li>
                        </p>
                        <p>Les adresses électroniques et attestations ne sont nullement divulguées et restent privées. Seuls les prénoms, noms et codes postaux des locataires sont publics. Les données personnelles des propriétaires restent privées et ne sont visibles par personne.</p>
                        <p>Nous tenons à vous rappeler que <strong>vous êtes le seul responsable de l’exactitude et qualité des avis rédigés</strong>. Nous n’intervenons qu’en la qualité d’intermédiaire permettant de centraliser les avis des propriétaires.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="timeline gray-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1><i class="fa fa-flask features-icon"></i> Le processus</h1>
                    <p>Trois phrases pour décrire les trois phases d'un processus extrêmement simple mais qui peut <strong>transformer un investissement pénible en un investissement judicieux !</strong></p>
                </div>
            </div>
            <div class="row features-block">

                <div class="col-lg-12">
                    <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon immo-bg">
                                <i class="fa fa-pencil"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Saisie des avis</h2>
                                <p>Rédaction des avis sur les locataires précédents.</p>
                                <span class="vertical-date"> Aujourd'hui <br/></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon immo-bg">
                                <i class="fa fa-book"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Choix du prochain locataire</h2>
                                <p>Consultation des avis rédigés par les autres propriétaires.</p>
                                <span class="vertical-date"> Prochaine location <br/></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon immo-bg">
                                <i class="fa fa-eur"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Investissement tranquille</h2>
                                <p>Le choix d'un meilleur locataire se traduit par un investissement serein et une rentabilité accrue.</p>
                                <span class="vertical-date"> Très long-terme <br/></span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>

    <section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <i class="fa fa-comment big-icon"></i>
                    <h1>Ce que les utilisateurs en pensent</h1>
                    <div class="testimonials-text">
                        <i>"Ce site est la solution qui me permet de trouver des locataires fiables à partir d'un ressenti réel !"</i>
                    </div>
                    <small>
                        <strong>23 février 2016 - Michelle Dupont</strong>
                    </small>
                </div>
            </div>
        </div>

    </section>

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1><i class="fa fa-envelope-o features-icon"></i> Nous contacter</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:test@email.com" class="btn btn-immo">Envoyez-nous un courriel</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2016 ImmoTrankil</strong><br/> L'immobilier tranquille par la recherche du meilleur locataire...</p>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
    $(document).ready(function () {
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>