<div class="middle-box text loginscreen animated fadeInDown" ng-controller="LoginCtrl as login">
    <div>
        <div class="row row-centered">
            <div>
                <h2 class="logo-name">Immotrankil</h2 class="logo-name">
                <h4>Fini les tracasseries avec les locataires indélicats et qui ne payent pas ou en retard !</h4>
            </div>
        </div>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="IGG" required="" ng-model="igg">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

            <a ui-sref="forgot_password"><small>Forgot password?</small></a>
        </form>
    </div>
</div>
<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-4">
            <h2>Le problème</h2>
            <p>Pour peu que vous ayez de l’expérience dans la gestion locative, vous avez du vous apercevoir que les multiples étapes mises en place pour filtrer les locataires : fiches d’imposition, bulletins de paie, caution, quittances précédentes, etc. ne sont pas la solution pour trouver LE locataire, celui qui restera longtemps, ne vous sollicitera jamais, paiera toujours en temps et en heure et rendra le bien en meilleur état qu’à son arrivée !</p>
        </div>
        <div class="col-sm-4">
            <h2>La solution</h2>
            <p>Ces étapes en plus d’induire une lourdeur de traitement non négligeable ne garantissent nullement la qualité du locataire. Vous pouvez très bien avoir un locataire ayant des revenus conséquents mais qui vous sollicitera intempestivement, sera hypocrite, trop exigeant, …
                Au final, rien ne compte plus que le ressenti des propriétaires par lequel votre futur locataire est passé. C’est là qu’intervient ImmoTrankil en attribuant une note à chaque profil de locataire. Cette note est basée sur les évaluations rédigées par les propriétaires précédents.
                Ces évaluations sont ensuite consolidées de manière à fournir une « fiche locataire » comprenant les notes moyennes de ces trois critères ainsi que l’historique des avis. Rien de plus simple par la suite pour se faire son idée sur son futur locataire !</p>
        </div>
        <div class="col-sm-4">
            <h2>La mise en pratique</h2>
            <p>Le concept est très simple, en prenant 5 minutes pour noter vos précédents locataires, vous participez à la mise en place d’une base de données permettant de consolider les avis des propriétaires sur les locataires de l’agglomération paloise.
                La rédaction de ces avis ne prend qu’une poignée de secondes, il s’agit simplement d’attribuer une note de 0 à 5 sur les trois critères suivants :
                <li>Capacité du locataire à payer les loyers en temps et en heure.</li>
                <li>Attitude du locataire durant la location : sollicitations intempestives, etc.</li>
                <li>Etat des lieux de sortie du bien loué : dégradations, propreté, etc.</li>
            </p>
        </div>
    </div>
</section>

<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Faites dès maintenant le choix<br/> <span class="danger" style="font-weight: bold;"> d'avoir les meilleurs locataires !</span> </h1>
            <p>Récupérez le contrôle de votre investissement. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-pencil"></i>
                <h2>Une évaluation très simple</h2>
                <p>Trois critères précis qui donnent une vision d’ensemble de la location :</p>
                <p><i class="fa fa-check"></i> Capacité</p>
                <p><i class="fa fa-check"></i> Attitude</p>
                <p><i class="fa fa-check"></i> Dégradation</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-eur"></i>
                <h2>Aucun engagement financier</h2>
                <p>Le site est centré sur l'agglomération paloise et repose sur un modèle absolument gratuit.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="../res/images/avis_locataire_1_resize2.png" alt="dashboard">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-desktop style='width: 10px'"></i>
                <h2>Agréable à utiliser</h2>
                <p>Une interface épurée, visuelle et agréable à lire. Seulement trois écrans sont nécessaires pour l'ensemble du processus :
                <li>Page propriétaire</li>
                <li>Page locataire</li>
                <li>Saisie d'un nouvel avis</li></p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-eye-slash"></i>
                <h2>Respect de la vie privée</h2>
                <p>Excepté le prénom et nom des locataires, AUCUNE autre donnée confidentielle n'est demandée. Les évaluations ne reposent que sur trois critères portant sur la location.</p>
            </div>
        </div>
    </div>
</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <h1>Qui sommes nous ?</h1>
                <p>L’équipe à l’origine du site est constituée de deux propriétaires bailleurs. C’est d’ailleurs suite à un ressenti personnel que ce site est né.
                    Nous faisons un pari sur l’avenir en partant du principe qu’une masse critique d’avis inciterait fortement les locataires à améliorer leur comportement. Contrairement au “nivellement par le bas”, concept cher au pouvoir en place, il s’agit de tirer par le haut l’écosystème locatif. C’est là l’occasion pour vous d’intervenir en tant qu’acteur propriétaire et de défendre vos intérêts.</p>
            </div>
        </div>
    </div>
</section>

<section class="timeline gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Le processus</h1>
                <p>Trois phrases pour décrire les trois phases d'un processus extrêmement simple mais qui peut transformer un investissement pénible en un investissement judicieux !</p>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Saisie des avis</h2>
                            <p>Rédaction des avis sur les locataires précédents.</p>
                            <span class="vertical-date"> Aujourd'hui <br/></span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-file-text"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Choix du prochain locataire</h2>
                            <p>Consultation des avis rédigés par les autres propriétaires.</p>
                            <span class="vertical-date"> Prochaine location <br/></span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-cogs"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Investissement tranquille</h2>
                            <p>Le choix d'un meilleur locataire se traduit par un investissement serein et une rentabilité accrue.</p>
                            <span class="vertical-date"> Très long-terme <br/></span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    Ce que les utilisateurs en pensent
                </h1>
                <div class="testimonials-text">
                    <i>"Ce site est la solution qui me permet de trouver des locataires fiables à partir d'un ressenti réel !"</i>
                </div>
                <small>
                    <strong>23 février 2016 - Michelle Dupond</strong>
                </small>
            </div>
        </div>
    </div>

</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Nous contacter</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Envoyez-nous un courriel</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2016 ImmoTrankil</strong><br/> L'immobilier tranquille par la recherche du meilleur locataire...</p>
            </div>
        </div>
    </div>
</section>

<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
    $(document).ready(function () {
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>