<div class="modal-header row-centered">
    <h2 class="m-t-none m-b"><i class="fa fa-user"></i> {{'password_forgotten' | translate}}</h2>
</div>
<div class="modal-body modal-md">
    <input type="email" placeholder="Email" class="form-control" ng-model="mail">
</div>
<div class="modal-footer row-centered">
    <button type="button" ng-click="ok()" class="btn btn-sm btn-danger">{{'ok' | translate}}</button>
    <button type="button" ng-click="cancel()"  class="btn btn-sm btn-default">{{'cancel' | translate}}</button>
</div>
