<div ng-controller="MainCtrl as controller" class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation" >

        <a href="#" class="navbar-brand">{{'app_name' | translate}}</a>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <button style="margin-left: 20px" ng-click="findTenant()"  class="btn btn-white btn-circle btn-lg" type="button"><i class="fa fa-search"></i>
                </button>
            </li>
            <li>
                <button style="margin-left: 20px" ng-click="createNote($event)" class="btn btn-warning btn-circle btn-lg" type="button"><i class="fa fa-pencil"></i>
                </button>
            </li>
            <li>
                <button style="margin-left: 20px" ng-click="go('/owner')" class="btn btn-success btn-circle btn-lg" type="button"><i class="fa fa-home"></i>
                </button>
            </li>
            <li>
                <a href="login.html">
                    <i class="fa fa-sign-out"></i> {{'sortir' | translate}}
                </a>
            </li>
        </ul>

    </nav>
</div>