<div class="modal-body">
    <div class="row row-centered">
        <h3 class="m-t-none m-b"><i class="fa fa-money"></i> {{'modify' | translate}}</h3>
    </div>
    <div class="row">
        <div class="ibox-content">
            <input type="text" placeholder="{{'account_name' | translate}}" value="35TGEOCIP" class="input-sm form-control">
        </div>
    </div>

    <div class="row">
        <div class="ibox-content">
            <h3>{{'tags' | translate}}</h3>

            <div class="table-responsive" style="overflow-y:scroll;height:200px">
                <table class="table table-striped" >
                    <tbody>
                    <tr>
                        <td style="width:40px;"><input type="checkbox" ng-model="main.checkOne"></td>
                        <td><p><span class="badge badge-warning">35T</span></p></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" ng-model="main.unCheck1"></td>
                        <td><p><span class="badge badge-success">35TSI</span></p></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" ng-model="main.unCheck1"></td>
                        <td><p><p><span class="badge badge-danger">Projet</span></p></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" ng-model="main.unCheck1"></td>
                        <td><p><p><span class="badge badge-default">Recurrent</span></p></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="row row-centered">
        <div class="ibox-content">
            <button type="button" class="btn btn-sm btn-danger">{{'save' | translate}}</button>
        </div>
    </div>
</div>
